#tab-section {
	background-color: $bg;
	h1 {
		padding: 20px 0;
		color: aliceblue;
		text-transform: capitalize;
		font-weight: 400;
		font-size: 30px;
	}
	p {
		color: aliceblue;
		opacity: 0.6;
		font-weight: 400;
		font-size: 18px;
		word-spacing: 1px;
		
	}
	
	.ipad-img {
		padding-top: 20px;
	}
}