.view-service {
    background-color: $c2;
}
.view-service p {
    font-size: 20px;
    font-weight: 400;
    color: $c3;
    padding: 20px;
    line-height: 40px;
}

.view-service h1 {
    font-weight: 500;
	padding: 10px;
    line-height: 50px;
}
