.team-section .eight {
	padding-left: 100px;
}

/* --------- EIGHT --------- */ 


.eight {
  list-style: none;
  padding: 0;
  margin: 100px 0;
}
.eight > li {
  background: #FFFFFF;
  border: 1px solid rgba(150,150,150,0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
  width: 250px;
  height: 350px;
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
.eight .wrapper {
  position: relative;
  height: 100%;
}

.eight span {
  background: $c1;
  display: block;
  position: absolute;
  top: 0;
  height: 145px;
  width: 100%;
  padding-top: 30px;
}
.eight > li:hover span {
  height: 160px;
}
.eight h3 {
  font-style: 20px;
  opacity: 0.9;
}
.eight > li:hover h3 {
  color: #fff;
}
.eight h3 em {
  opacity: 0.9;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  display: block;
}
.eight .arrow {
  position: absolute;
  bottom: 12px;
  background-image: url("../img/arrow-green.svg");
  background-repeat: no-repeat;
  background-position: center 10px;
  height: 60px;
  width: 100%;
}
 @-webkit-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @-moz-keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
 @keyframes arrow {
 0% {
background-position: center top;
}
 50% {
background-position: center 10px;
}
 100% {
background-position: center top;
}
}
.eight > li:hover .arrow {
  bottom: 50px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-animation: arrow 0.6s infinite;
  -moz-animation: arrow 0.6s infinite;
  animation: arrow 0.6s infinite;
}
.eight h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 13px;
  width: 100%;
  position: absolute;
  bottom: -40px;
}
.eight > li:hover h4 {
  bottom: 0;
}
.eight > li:hover .image-container {
  top: 120px;
}
.image-container {
  position: absolute;
  left: 64px;
  -webkit-perspective: 1200;
  -moz-perspective: 1200;
  perspective: 1200;
  top: 90px;
}
.image-container:hover .creation {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.creation {
  width: 120px;
  height: 120px;
  float: left;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.front, .back {
  position: absolute;
  top: 0;
 left:0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 100px;
}
.back {
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  background: rgba(255,255,255,0.1);
}
.creation p span {
  vertical-align: middle;
  display: inline-block;
  line-height: 1.4;
}
.cont {
  border-radius: 50%;
  background-color: $c1;
  width: 120px;
  height: 120px;
  display: inline-block;
}
.eight > li:hover .creation {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.eight .icon-circle {
  margin-top: 20px;
}